<h1>New Message</h1>

<form method="POST" action="/new">
    <label for="user">Username</label>
    <input type="text" id="user" name="user">
    <label for="text">Message</label>
    <input type="text" id="text" name="text">
    <input type="submit" value="Submit">
</form>