<html>
    <body style="background-color: rgb(175, 166, 155);">
        <ul>
            <% for (let i = 0; i < messages.length; i++) { %>
                <li>
                    <a href="<%=messages[i].href %>">
                        <span> <%= messages[i].text %> </span><br>
                        <span> <%= messages[i].user %> </span><br>
                        <span> <%= messages[i].added %> </span>
                    </a>
                </li>
            <% } %>
        </ul>
    </body>
</html>